<%- model_class = Celebration -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= search_form_for @search do |s| %>
  <%= s.condition_fields do |c| %>
    <%= render "condition_fields", f: c%>
  <% end %>
  <p><%= link_to_add_fields "Add Conditions", s, :condition %>
  <div class="actions"><%= s.submit "Search" %></div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= sort_link(@search, :name, model_class.human_attribute_name(:name)) %></th>
      <th><%= sort_link(@search, :celebrated_on, model_class.human_attribute_name(:celebrated_on)) %></th>
      <th><%= model_class.human_attribute_name(:message) %></th>
      <th><%= sort_link(@search, :country, model_class.human_attribute_name(:country)) %></th>
      <th><%= sort_link(@search, :created_at, model_class.human_attribute_name(:created_at)) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @celebrations.each do |celebration| %>
      <tr>
        <td><%= link_to celebration.id, celebration_path(celebration) %></td>
        <td><%= celebration.name %></td>
        <td><%= celebration.celebrated_on %></td>
        <td><%= celebration.message %></td>
        <td><%= celebration.country %></td>
        <td><%=l celebration.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_celebration_path(celebration), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      celebration_path(celebration),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @celebrations %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_celebration_path,
            :class => 'btn btn-primary' %>
